
*{
    margin: 0;
    padding:0;
}
.scene{
    position: fixed;
    top:0;
    left:0;
}
body {
   overflow: hidden;
}

.display{ 
    position: fixed;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 1.7rem;
}

li.item_vis {
    font-size: 1rem;
    font-weight: normal;
}
li.item_vis span {
    font-size: 1.5rem;
}